.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}

.menu-item {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-item :hover,
.menu-item :focus {
  color: #2196f3;
}
.header-contacts {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.main-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 13.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /*color: #ffffff;*/
}

.main-title-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
}

.main-title-button :hover,
.main-title-button :focus {
  background-color: #188ce8;
  color: #ffffff;
}
.subtitle-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.subt-list-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
